{{define "components/event-logs.html"}}
<h6 class="text-success d-block w-100 mb-3 px-2">[ EVENT LOGS ]</h6>
<div class="p-2">
    {{range .EventLogs}}
    <div class="small mb-2">
        <i class="bi bi-circle text-{{if eq .Type "warning"}}warning{{else if eq .Type "alert"}}danger{{else}}success{{end}} me-2"></i>
        <span class="text-muted">{{formatTime .CreatedAt}}</span>
        <span class="text-white ms-2">{{.Description}}</span>
    </div>
    {{else}}
    <div class="small mb-2 text-muted text-center">
        No recent events.
    </div>
    {{end}}
</div>
{{end}}